* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px dotted rgb(234, 0, 255); */
}

h1 {
    font-size: 2rem;
    margin-left: 15px;
}

.main-wrapper {
    background: rgba(204,230,255,1);
    min-height: 100vh; 
    display: grid;
    grid-template-columns: 275px minmax(450px, 750px);
    grid-template-rows: 65px auto auto  auto;
    grid-template-areas:
            "lsb   sec1   sec1"
            "lsb   sec1   sec1"
            "lsb   sec2   sec2"
            "lsb   sec3   sec3";
}


.left-side-bar {
    grid-area: lsb;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid white;
    background-color: #1b1b38;
    font-size: 19px;
    color: white;
    padding: 10px 10px;
}

.left-side-bar > img {
    border-radius: 50%;
    max-width: 200px;
    max-height: 225px;
    margin-top: 40px;
}

.left-side-bar > h4 {
    margin-top: 30px;
}
.left-side-bar > p {
    margin-top: 10px;
}

/* Start General Section sec-1 */
.sec-1 {
    grid-area: sec1;
    margin-top: 0.5rem;
}


form[name="general-frm"] {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.25rem;
    margin: 10px 25px;
}

.left-general, .right-general {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-right: 13rem;
    
}

/* Align input sections sec-1 general */
#first-name {margin-left: 40px; }
#last-name {margin-left: 40px; }
#user-dob {margin-left: 75px; }
#display-name {margin-left: 15px; }

.gender-radio {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.gender-radio > p { 
    margin-right: 65px;
    font-size: 25px;
} 

#gen-male, #gen-female { 
    margin-left: 20px;
}


input[type="file"] {margin-left: 7px;}
#description {margin-left: 35px;}

/* prevent user from accessing email */
#user-email {
    user-select: none;
    color: #787878;
    margin-left: 85px;
}

.register-details {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
}


/* Start Contact Information Section sec-2 */
.sec-2 {
    grid-area: sec2;
}

form[name="contact-frm"] {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.25rem;
    margin: 10px 25px;
}

.left-contact, .right-contact {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-right: 13rem;
}

/* align input labels sec-2 Contact Information */
#handy-phone-num {margin-left: 15px;}
#office-phone-num {margin-left: 29px;}
#office-phone-ext {margin-left: 65px;}
#contact-url {margin-left: 35px;}


/* Start Address Section sec-3 */
.sec-3 {
    grid-area: sec3;
    padding-bottom: 105px;
}

form[name="address-frm"] {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.25rem;
    margin: 10px 25px;
}

.left-address, .right-address {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-right: 13rem;
  
}

#str-num { margin-left: 15px;}
#str-name { margin-left: 40px;}
#po-box{ margin-left: 35px;}
#address-state { margin-left: 50px;}
#address-city { margin-left: 70px;}
#zip-code { margin-left: 12px;}

.general-btns,
.contact-btns,
.address-btns {
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: none;
}

button {
    margin-left: 20px
}
