<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Blog city is the place to blog about everything and anything."
    />
    <meta
      name="keywords"
      content="HTML, CSS, Django, Posts, Comments, Sharing, Blog, Fun"
    />
    <meta name="author" content="RingVision" />
    {% load static %}
    <!-- Font for title on index page -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nav_bar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="icon" href="{% static 'img/city.jpg' %}" type="image/gif">
  
    {% block head %}   
    {% endblock head %}
  </head>
  <body>

    {% include "navbar.html" %}
    

    {% block content %} 
    
    {% endblock content %}
    
    
    {% include "footer.html" %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/navBar.js' %}"></script>
    <!-- <script src="{% static 'js/login_validate.js' %}"></script> -->
  </body>
</html>