{% extends "base.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
    <link rel="stylesheet" href="{% static 'css/blog_footer.css' %}" />
    <title>Blog About</title>
{% endblock head %} 


{% block content %}

<div class="wrapper-blog">
    <ul class="error-msgs" >
        {% if messages %}
            {% for message in messages %}
                <li {% if message.tags %} class"{{message.tags}} blink"{% endif %}>{{message}}</li>
            {% endfor %}
        {% endif %}
    </ul>  
    <div class="left-side-bar">
        <form action="/add-topic/" method="POST" name="left-side-bar-topics-nm"> 
            {% csrf_token %}   
            <h4>Blog Topics</h4>
            {% for topic in topics %}
                <p><a href="topic/{{ topic.id }}">{{ topic.topic }}</a></p>
            {% endfor %}
            <div class=left-frm-controls>
                <label for="add-topic">Add Topic</label>
                <input type="text" id="add-topic" name="topic-nm" placeholder="Will Ferrell movies..." required>
                <input type="submit" name="submit-topic-btn" value="Submit">
            </div>
        </form> 
    </div>

    <div class="blog-sec">
        {% if topic_selected == True %}
            <h1 class="welcome-blog">Blog About: {{ selected_topic.topic }}</h1>
            
            <div class="post-wrapper">
                <form action="/blog-about/add-post/" method="POST" name="add-post-frm">
                    {% csrf_token %}
                    <input type="hidden" name="active-topic-id-nm" value="{{ selected_topic.id}}">
                    <!-- Add Post section -->
                    <div class="post-msg">
                        <label for="add-post-msg">Add a Post</label>
                        <textarea name="add-post-msg-nm" id="add-post-msg" cols="30" rows="10"></textarea>
                        <input type="submit" name="add-post-submit" value="Add Post">
                    </div> 
                    
                    <!-- The Post -->
                    {% for posts in posts_by_topic %}
                        <div class="post-header">
                            <p class="post-name-date">
                                <span class="poster-name">
                                    {{ posts.user.first_name }} 
                                    {{ posts.user.first_name}}</span>
                                <span class="post-date">{{ posts.created_at }}</span>
                            </p>
                            <P class="post-text">{{ posts.post }}</P>
                        </div>
                        
                        <!-- All comments related to POST -->
                        {% for comment in comments_by_post %}
                            <div class="msg-comment">
                                <p class="comment-name-date">
                                    <span class="comment-name">{{ comment.user.first_name }} {{ comment.user.last_name}}</span>
                                    <span class="comment-date">{{ comment.created_at}}</span>
                                    <input type="submit" name="remove-comment-submit" value="Remove">
                                </p>
                                <p class="comment-text"> comment.comment </p>
                            </div>
                        {% endfor %}
                    </form> 
                    <form action="/blog-about/add-comment/" method="POST" name="add-comment-frm">
                        <!-- Add New Comment  -->
                        {% csrf_token %}
                        <input type="hidden" name="active-post-id-nm" value="{{ posts.id}}">
                        <div class="comment-msg">
                            <label for="add-comment-msg">Add a Comment</label>
                            <textarea name="add-comment-msg-nm" id="add-comment-msg" cols="30" rows="10"></textarea>
                            <input type="submit" name="add-comment-submit" value="Add Comment">
                        </div>
                    </form>
                    {% endfor %}
            </div>
        {% else %}
            <h1 class="welcome-blog">Lets Blog</h1>
            <h2 class="welcome-blog">Select a Topic</h2>
        {% endif %}
    </div>

    <div class="right-side-bar">
        <h4>Crypto Currency</h4>
        <p>TBD</p>
        <p>TBD</p>
        <p>TBD</p>
        <p>TBD</p>
        <p>TBD</p>
        <p>TBD</p>
        <p>TBD</p>
        <p>TBD</p>
        <p>TBD</p>
        <p>TBD</p>
    </div>

</div>

{% endblock %}